<section>

	<div class="lockup">

		<a target="_blank" href="http://gmispotfireweb.generalmills.com/SpotfireWeb/ViewAnalysis.aspx?file=/Convenience%20%26%20Foodservice/C%26F_PROD/INVOICE_VOLUME/DXP/Invoice%20Volume" class="icon-volume">{% include icons/icon-volume.html %}</a>
		<a target="_blank" href="http://gmispotfireweb.generalmills.com/SpotfireWeb/ViewAnalysis.aspx?file=/Convenience%20%26%20Foodservice/C%26F_PROD/NEW_ITEM_VOLUME/DXP/New%20Item%20-%20Volume" class="icon-newitem">{% include icons/icon-newitem.html %}</a>
		<a target="_blank" href="http://gmispotfireweb.generalmills.com/SpotfireWeb/ViewAnalysis.aspx?file=/Convenience%20%26%20Foodservice/C%26F_PROD/DISTRIBUTION/DXP/Distribution" class="icon-distribution">{% include icons/icon-distribution.html %}</a>
		<a target="_blank" href=""class="icon-distribution">{% include icons/icon-crm.html %}</a>
	
	</div>

</section>